:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.card-body{
  width: 100%;
}
.card-items{
  justify-content: center;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #EEEEEE ;
}




#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.items{
  border: solid #34495E 2px;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 5px 10px #41B883;
}
.cart{
  border: solid #34495E 2px;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 5px 10px #41B883;
}

h1,h2{
  text-align: center;
}

.card{
  border: solid #34495E 2px;
  border-radius: 15px;
  box-shadow: 2px 5px #34495E;
}

.btn-primary{
  background-color: #34495E;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 5px 5px #41B883;
}

.btn-primary:hover{
  background-color: #41B883;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 5px 5px #34495E;
}

.btn-primary:focus{
  background-color: #41B883;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 5px 5px #34495E;
}

.btn-primary:active{
  background-color: #41B883;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 5px 5px #34495E;
  transform: translate(5px, 5px);
}

.btn-primary:active::before{
  background-color: #41B883;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 5px 5px #34495E;
}

.btn-danger{
  background-color: #34495E;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 5px 5px #DE0000;
}

.btn-danger:hover{
  background-color: #DE0000;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 5px 5px #34495E;
}

.btn-danger:focus{
  background-color: #DE0000;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 5px 5px #34495E;
}

.btn-danger:active{
  background-color: #DE0000;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 5px 5px #34495E;
  transform: translate(5px, 5px);
}

.btn-danger:active::before{
  background-color: #DE0000;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 5px 5px #34495E;
}
